.content{
    display: flex;
    align-items: center;
    .icon-search{
        height: 1.25rem;
    }
    .input{
        width: 100%;
        border: none;
        outline: none;
        margin-left: 1rem;
        border-bottom: 1px solid #fff;
        transition: all 0.2s linear;

    }
    .input:focus, .input:hover{
        border-bottom: 1px solid #333;
    }

}