<div class="content">
  <div class="top">
    <div class="search-container">  
      <app-search></app-search>
    </div>
    <div class="top-buttons">
      <div class="top-button-icon top-button">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-cart" viewBox="0 0 20 20"><path fill="#444" d="M18.936 5.564c-.144-.175-.35-.207-.55-.207h-.003L6.774 4.286c-.272 0-.417.089-.491.18-.079.096-.16.263-.094.585l2.016 5.705c.163.407.642.673 1.068.673h8.401c.433 0 .854-.285.941-.725l.484-4.571c.045-.221-.015-.388-.163-.567z"></path><path fill="#444" d="M17.107 12.5H7.659L4.98 4.117l-.362-1.059c-.138-.401-.292-.559-.695-.559H.924c-.411 0-.748.303-.748.714s.337.714.748.714h2.413l3.002 9.48c.126.38.295.52.942.52h9.825c.411 0 .748-.303.748-.714s-.336-.714-.748-.714zM10.424 16.23a1.498 1.498 0 1 1-2.997 0 1.498 1.498 0 0 1 2.997 0zM16.853 16.23a1.498 1.498 0 1 1-2.997 0 1.498 1.498 0 0 1 2.997 0z"></path></svg>
        <a href="" class="button-link"><p class="button-text">Корзина (1)</p></a>
      </div>
      <div class="top-button">
        <a href="" class="button-link"><p class="button-text">Оформить заказ</p></a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <a class="logo-container" href="">
      <h1 class="logo-text">Simple.</h1>
    </a>
    <div class="nav">
      <ul class="menu">
        <a href="" class="menu-link">
            <li class="menu-item">
              Главная
            </li>
        </a>
        <a href="" class="menu-link">
            <li class="menu-item">
              Каталог
            </li>
        </a>
        <a href="" class="menu-link">
            <li class="menu-item">
              Популярное
            </li>
        </a>
        <a href="" class="menu-link">
            <li class="menu-item">
              Скидки
            </li>
        </a>
        <a href="" class="menu-link">
            <li class="menu-item">
              Новые товары
            </li>
        </a>
        <a href="" class="menu-link">
            <li class="menu-item">
              Блог
            </li>
        </a>
      </ul>
    </div>
  </div>
</div>