<div class="content">
  <div class="featured">
    <div class="featured-top container-top">
      <a href="" class="featured-title top-title">Популярное</a>
    </div>
    <div class="featured-items">
        <div class="item">
          <a href="" class="item-link"><img src="/assets/img/dummy-1.jpg" alt="" class="item-img"></a>
          <a href="" class="item-link">
            <p class="item-name item-text">Куртка - Камуфляж</p>
            <p class="item-price item-text">15000 тг</p>
          </a>
        </div>
        <div class="item">
          <a href="" class="item-link"><img src="/assets/img/dummy-1.jpg" alt="" class="item-img"></a>
          <a href="" class="item-link">
            <p class="item-name item-text">Куртка - Камуфляж</p>
            <p class="item-price item-text">15000 тг</p>
          </a>
        </div>
        <div class="item">
          <a href="" class="item-link"><img src="/assets/img/dummy-1.jpg" alt="" class="item-img"></a>
          <a href="" class="item-link">
            <p class="item-name item-text">Куртка - Камуфляж</p>
            <p class="item-price item-text">15000 тг</p>
          </a>
        </div>
    </div>
  </div>
  <div class="categories">
    <div class="categories-top container-top">
      <a class="categories-title top-title" href="">Собери свой стиль</a>
    </div>
    <div class="cards">
      <a href="" class="card">
        <img src="/assets/img/accessories.jpg" alt="" class="card-img">
        <p class="card-text">Аксессуары</p>
      </a>
      <a href="" class="card">
        <img src="/assets/img/denim.jpg" alt="" class="card-img">
        <p class="card-text">Джинсы</p>
      </a>
      <a href="" class="card">
        <img src="/assets/img/shoes.jpg" alt="" class="card-img">
        <p class="card-text">Обувь</p>
      </a>
      <a href="" class="card">
        <img src="/assets/img/outwear.jpg" alt="" class="card-img">
        <p class="card-text">Верхняя одежда</p>
      </a>
      <a href="" class="card">
        <img src="/assets/img/pants.jpg" alt="" class="card-img">
        <p class="card-text">Брюки</p>
      </a>
      <a href="" class="card">
        <img src="/assets/img/shirt.jpg" alt="" class="card-img">
        <p class="card-text">Рубашки</p>
      </a>
      <a href="" class="card">
        <img src="/assets/img/t-shirts.jpg" alt="" class="card-img">
        <p class="card-text">Футболки</p>
      </a>
      <a href="" class="card">
        <img src="/assets/img/shorts.jpg" alt="" class="card-img">
        <p class="card-text">Шорты</p>
      </a>
    </div>
  </div>
</div>