<div class="content">
  <div class="top">
    <ul class="links">
      <li class="links-item links-title">
        Ссылки
      </li>
      <a href="" class="link">
        <li class="links-item">
          Новости
        </li>
      </a>
      <a href="" class="link">
        <li class="links-item">
          Наша история
        </li>
      </a>
      <a href="" class="link">
        <li class="links-item">
          Ответы и вопросы
        </li>
      </a>
      <a href="" class="link">
        <li class="links-item">
          Правила возврата
        </li>
      </a>
      <a href="" class="link">
        <li class="links-item">
          Связатся с нами
        </li>
      </a>
    </ul>
    <div class="subscribe-container">
      <h4 class="subscribe-title subscribe-item">
        Будь в курсе
      </h4>
      <p class="subscribe-text subscribe-item">
        Подписаться на обновления
      </p>
      <div class="subscribe-input subscribe-item">
        <input type="text" class="subscribe" placeholder="Ваша почта">
        <button class="subscribe-button">Подписаться</button>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p class="copyright">Simple.© 2019. Все права защищены</p>
  </div>
</div>